.ChartContainer {
    display:flex;
    justify-content: flex-end;
}
.scratchPadWrapper {
    display:flex;
    justify-content: space-evenly;
    width:80%;
}
.ScratchPadButtonWrapper {
    margin: 20px 0px;
}