@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

.toplevel {
    background-color: #f4f4f4;
    border: 0.4px solid var(--white);
    border-radius: 26.39px;
    box-shadow: 0px 17.6px 26.39px #3530734c;
    height: 100%;
    max-height: 170px;
    min-width: 300px;
    max-width: 600px;
    overflow-y: hidden;
}

.card {
  width: 100%;
  padding: 15px 15px 20px 25px;
}

.name {
  align-items: flex-start;
  display: flex;
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
}

.avatar {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.circle {
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.name-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 100%;
}


.h6 {
  color: var(--cello);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 28px;
  min-height: 28px;
  white-space: nowrap;
}

.typography-1 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.body2 {
  color: transparent;
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 20.0px;
  min-height: 20px;
  white-space: nowrap;
}

.span {
  letter-spacing: 0.02px;
}

.span1 {
  color: var(--cello);
  letter-spacing: 0.02px;
}

.imputing-missing-val {
  letter-spacing: 0.15px;
  line-height: 20.0px;
  width: 100%
}

.buttons {
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}

:root { 
  --black: #000000;
  --cello: #253858;
  --fiord: #42526edb;
  --light: #f3f3f3;
  --primary: #5664d2;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xl: 18px;
  --font-size-xs: 12px;
  --font-size-xxl: 36px;
  --font-size-xxs: 10.1px;
 
  --font-family-rubik-regular: "Rubik-Regular", Helvetica;
  --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
  --font-family-sf_pro_display-semibold: "SF Pro Display-Semibold", Helvetica;
  --font-family-sf_pro_text-regular: "SF Pro Text-Regular", Helvetica;
  --font-family-sf_pro_text-semibold: "SF Pro Text-Semibold", Helvetica;
}

.sfprotext-regular-normal-fiord-14px {
  color: var(--fiord);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}