.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container__content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container_editor_area {
    tab-size: 4ch;
    height: 400px;
    overflow: auto;
    width: 100%;
}

.container__editor {
    font-size: 12px;
    font-variant-ligatures: common-ligatures;
    border-radius: 3px;
    min-height: 400px;
    counter-reset: line;
    padding-left: 60px;
    overflow:scroll;
}

.container__editor #codeArea {
    outline: none;
    padding-left: 60px !important;
}

.container__editor pre {
    padding-left: 60px !important;
}

.container__editor .editorLineNumber {
    position: absolute;
    left: 0px;
    text-align: right;
    width: 40px;
    font-weight: 100;
}