
  .tealNavigation {
    background-color: #154954;
    padding:20px;
  }
  /* Container styles */
  .container {
    background-color: #F3F3F3;

  }
  .mainContainer {
    margin: 20px;
    padding: 20px;
    box-shadow: inset 0px 0px 4px 0px #9aa1a9;
    border-radius: 10px;
  }
 

 
  
  
 