.grid_root {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;

}

.select-all {
    height: 40px;
    background-color: dodgerblue !important;
}

.delete {
    height: 40px;
    background-color: red !important;
}

.MuiButton-contained-sync {
    background-color: green !important;
}

.MuiButton-contained .MuiButton-label {
    color: #ffffff;
}